<% semantic_form_for [@app, @vote] do |f| %>
  <%= f.submit "Vote Up" %>
<% end %>
<h1><%= @app.title %></h1>
<ul>
  <li>
    <label for="author">Author:</label><%= @app.author %>
  </li>
  <li>
    <label>Demo:</label>
    <%= @app.demo %>
  </li>
  <li>
    <label>Source:</label>
    <%= @app.source %>
  </li>
  <li><label>Description:</label><%= @app.description %></li>
</ul>
<fieldset>
  <legend>
    Comments
  </legend>

	<ul>  
	<% @app.comments.each do |comment| %>
	  <li>
	    <header>
	      <%= comment.user.username %>
	    </header>
	    <p><%= comment.text %></p>
	  </li>
	  <li>
    <% semantic_form_for [@app, comment], :html => {:method => :delete}  do |f| %>
  		<%= f.submit "Delete Comment" %>
  	<% end %>
  	</li>
	<% end %>
  </ul>
	
	<% semantic_form_for [@app, @comment] do |f| %>
		<%= f.input :text, :label => "New Comment", :as => :text %>
		<%= f.submit "Add Comment" %>
	<% end %>
	
</fieldset>