<% semantic_form_for [@app, @vote] do |f| %>
  <%= f.submit "Vote Up" %>
<% end %>
<div id="app_contents">
  <div class="description">
    <h1><%= @app.title %></h1>
    <%= @app.description %>
  </div>

  <dl id="app_definition">
    <dt>Author</dt>
    <dd><%= @app.author %></dd>
    <dt>Demo</dt>
    <dd><%= @app.demo %></dd>
    <dt>Source</dt>
    <dd><%= @app.source %></dd>
  </dl>
</div>

<fieldset class="comments">
  <legend>
    Comments
  </legend> 

	<ul>  
	<% @app.comments.each do |comment| %>
	  <li>
	    <section>
	      <%= comment.text %>
	    </section>
	    <span>
	      <%= comment.username %> at <%= comment.updated_at %>
	    </span>
	  </li>
	<% end %>
  </ul>
	
	<% semantic_form_for [@app, @comment] do |f| %>
		<%= f.input :text, :label => false, :required => false, :as => :text %>
		<%= f.input :username, :label => "Who are you?"%>
		<%= f.submit "Add Comment" %>
	<% end %>
	
</fieldset>