<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<%= stylesheet_link_tag "reset.css" %>
    <%= stylesheet_link_tag "application.css" %>
  	<title>for the win - railscamp prizes. srs bsns.</title>
  </head>
  
  <body>
    <section>
      <header>
        <h1><%= link_to "for the win*", root_path %></h1>
        <h2>*because winning railscamp is serious business.</h2>
      </header>
      <nav>
        <%= link_to "Submit App", new_app_path %>
      </nav>
      <article>
        <section>
          <%= flash[:notice] %>
          <%= yield %>
        </section>
      </article>
    </section>
    <footer>
      <p>Created by <%= link_to "James Ottaway", "http://james.ottaway.mp", :rel => "author" %>, <%= link_to "Lucas Willett", "http://sevenlights.net", :rel => "author" %> and <%= link_to "Thomas Sinclair", "http://icdesign.com.au/", :rel => "author" %> at Railscamp #6 and #7. &copy; 2010</p>
    </footer>
  </body>
</html>
