<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<%= stylesheet_link_tag "reset.css" %>
    <%= stylesheet_link_tag "application.css" %>
  	<title>for the win</title>
	
  </head>
  
  <body>
    <nav>
      <%= flash[:notice] %>
      <%= link_to "Register", new_user_path %> | <%= link_to "Login", new_user_session_path %> | <%= link_to "Submit App", new_app_path %>
    </nav>
    <section>
      <%= yield %>
    </section>
    <footer>
      <p>Designed by <%= link_to "James Ottaway", "http://james.ottaway.mp", :rel => "author" %>, <%= link_to "Lucas Willett", "http://sevenlights.net", :rel => "author" %> and <%= link_to "Thomas Sinclair", "http://icdesign.com.au/", :rel => "author" %> at Railscamp '09. &copy; 2009</p>
    </footer>
  </body>
</html>
